<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>New Visit Created at <%= @location.name %></h1>
	<p>A new visit has been created!</p>
</body>
</html>