<ul>
	<% @visits.each do |visit|  %>
		<li><%= link_to visit.user_name, location_visit_path(visit.location_id, visit.id) %></a></li>
<% end %>
</ul>
<%= link_to "Back to #{@location.name}", location_path(@location) %>