<ul>
	<li><%= link_to @user_name, user_path(@visits.user_id) %>: <%= @visits.from_date %> - <%= @visits.to_date %></li>
</ul>
<%= link_to "Back to all visits in #{@location.name}...",
	location_visits_path(@visits.location_id) %>