<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to the MeetMe</h1>
	<b>your place to tell your friends (and any corp we want) where they can meet you!</b>
	<p><%= link_to "Locations stored", locations_path %></p>
</body>
</html>