<h1>All Locations</h1>
<ul>
	<% @locations.each do |location|  %>
	<% if location.name.present? %>
		<li><%= link_to location.name, location_path(location) %> - <span><%= location.city %></span> </li>
	<% end %>
<% end %>
</ul>
<%= link_to "Back to the Welcome page", root_path %>